.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* .cart-info {
  display: flex;
  flex-wrap: wrap;
} */

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

.totl-price {
  position: absolute;
  right: 435px;
}

.title_checkout {
  padding-bottom: 15px;
  font-size: 20px;
}

hr {
  width: 50%;
  text-align: left;
  margin-left: 0;
  padding-bottom: 20px;
}
